<footer class="ism-footer mt-3">
    <div class=" ism-footer-inner-box">
        <div class="ism-footer-logo ism-footer-box-size">
            <a href="" class="ism-footer-logo-link"><img class="img-fluid" src="~/ism-footer-logo.png" alt=""></a>
            <hr class="vl">
            <a href="" class="ism-footer-logo-link"><img class="img-fluid" src="~/meity-footer-logo.png" alt=""></a>
            <a href="" class="ism-footer-logo-link"><img class="img-fluid" src="~/digitalindia-footer-logo.png" alt=""></a>
        </div>
        <div class="vl"></div>
        <div class="ism-footer-useful ism-footer-box-size">
            <div class="ism-footer-useful-links">
                <h5>Useful Links</h5>
                <a><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a><i class="fa-brands fa-youtube"></i>Youtube</a>
                <a><i class="fa-brands fa-x-twitter"></i>Twitter</a>
                <a><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                <a><i class="fa-solid fa-globe"></i>Webcast</a>
            </div>
            <div class="ism-footer-useful-links">
                <h5>Social Media Links</h5>
                <a><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a><i class="fa-brands fa-youtube"></i>Youtube</a>
                <a><i class="fa-brands fa-x-twitter"></i>Twitter</a>
                <a><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                <a><i class="fa-solid fa-globe"></i>Webcast</a>
            </div>
        </div>
        <div class="vl"></div>
        <div class="ism-footer-contact ism-footer-box-size">
            <h5>Reach out to us</h5>
            <div class="mt-5">
                <p>Electronics Niketan <br> 6 CGO Complex, Lodhi Road, New Delhi-110003 India</p>
                <a href="mailto:ism-dic@gov.in" class="footer-mail">ism-dic@gov.in</a>
            </div>
            <div class="ism-footer-iframe mt-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.4426849656206!2d77.23733871489236!3d28.586493582435974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2fdedaabe87%3A0xadd98301faac65ce!2sElectronics%20Niketan%2C%20CGO%20Complex%2C%206%20Lodhi%20Road%2C%20Lodhi%20Rd%2C%20CGO%20Complex%2C%20Pragati%20Vihar%2C%20New%20Delhi%2C%20Delhi%20110003!5e0!3m2!1sen!2sin!4v1675947021093!5m2!1sen!2sin" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <p class="ism-footer-copyright">© Copyright India SemiConductor Mission. All Rights Reserved</p>
</footer>