<div class="ism-top-header">
    <div class="ism-top-header-ls">
        <p>@DateTime.Now</p>
    </div>
    <div class="ism-top-header-rs">
        <a>Skip To Main Content </a> | 
        <a><i class="fa-brands fa-instagram"></i></a>
        <a><i class="fa-brands fa-youtube"></i></a>
        <a><i class="fa-brands fa-x-twitter"></i></a>
        <a><i class="fa-brands fa-linkedin"></i></a>
        <a><i class="fa-solid fa-globe"></i></a>
    </div>
    
</div>
<div class="container ism-header">
    <div class="ism-header-content-box">
        <div class="ism-header-content">
            <a href="" class=""><img class="img-fluid ism-logo" src="https://ism.gov.in/static/dist/images_2/logos/main_ism_logo_new.png" alt=""></a>
        </div>
        <div class="ism-header-content ism-header-content-rs">
            <a href="" class=""><img class="img-fluid meity-logo" src="https://ism.gov.in/static/dist/images_2/logos/meity-logo.png" alt=""></a>
            <a href="" class=""><img class="img-fluid dic-logo" src="~/di-logo.svg" alt=""></a>
        </div>
    </div>
</div>
<hr style="margin: 0%;">
