<div class="container ism_header">
    <div class="row">
        <div class="col-12">
            <div class="ism_header_main_box">
                <div class="ism_header_main_box_ls">
                    <a href="" class=""><img class="img-fluid" src="https://ism.gov.in/static/dist/images_2/logos/main_ism_logo_new.png" alt=""></a>
                </div>
                <div class="ism_header_main_box_rs">
                    <a href="" class=""><img class="img-fluid" src="https://ism.gov.in/static/dist/images_2/logos/meity-logo.png" alt=""></a>
                    <a href="" class=""><img class="img-fluid" src="~/di-logo.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>