
        <div class="container ism-home-banner mt-2">
            <div class="ism-home-banner-box">
                <video autoplay muted loop id="myVideo" class="banner-video">
                    <source src="~/home-video.mp4" type="video/mp4">
                </video>
                <div class="banner-content">
                    <h1>Welcome to Our Website</h1>
                    <p>Your captivating message goes here.</p>
                </div>
            </div>
        </div>