
    <div class="mt-2">
        <div class="ism-banner-box">
            <video autoplay muted loop class="ism-banner-media">
                <source src="~/home-video.mp4" type="video/mp4">
            </video>
            <div class="ism-banner-content">
            </div>
        </div>
    </div>

    <div class="ism-home-marquee mt-3">
        <div class="ism-home-marquee-content">
            <h5>Important </h5>
            <marquee behavior="" direction="">This website is under construction. We will meet soon!</marquee>
        </div>
    </div>

    <div class="ism-home-about mt-3">
        <div class="ism-home-about-box">
            <div class="ism-home-about-media">
                <img src="~/charkha-to-chips.png" alt="" class="">
            </div>
        </div>
        <div class="ism-home-about-box">
            <div class="ism-home-about-content">
                <h5>About</h5>
                <h3>India Semiconductor Mission</h3>
                <p>India Semiconductor Mission (ISM) is a specialized and independent Business Division within the Digital India Corporation that aims to build a vibrant semiconductor and display ecosystem to enable India’s emergence as a global hub for electronics manufacturing and design.</p>
            </div>
        </div>
    </div>

